@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.prediction-container {
  position: absolute;
  top: 0;
  background-color: transparent;
  border: transparent;
  min-height: 50vh;
  width: 60%;
  padding: 10px;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.prediction-text {
  margin-top: 0px;
  background-color: transparent;
  font-size: calc(12px + 1vmin);
  color: white;
  transition: none;
  z-index: 1;
}

.prediction-button {
  margin-top: 60px;
  margin-bottom: 10px;
  width: 280px;
  height: 60px;
  border: 1px, transparent, solid;
  background: white;
  color: black;
  font-size: 22px;
  line-height: 2px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  /* transition: all 400ms ease-in-out !important ; */
}

.moon {
  z-index: 1;
  position: relative;
}

.prediction-button:hover {
  background: transparent;
  border: black;
  color: white;
  transition: background-color, border-color, color;
  transform: scale(1.1);
  transition: all 400ms ease-in-out !important ;
}

.prediction-button:not(:hover) {
  transform: scale(1);
  transition: all 400ms ease-in-out !important ;
}

.prediction-button:focus {
  transform: scale(1.1);
}

.loading-zodiac-sign {
  width: 80px;
  height: auto;
  /* margin-bottom: 40px !important; */
  font-size: calc(12px + 1vmin);
  color: white;
  animation: fadeInOut 2s infinite;
  list-style: none;
  z-index: 1;
}

.constellation {
  width: 30vmin;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: -1vmin;
  margin-bottom: 5vmin;
  /* clip-path: circle(0%); */
  /* animation: circle 4s ease-in-out infinite; */
  clip-path: inset(0 0% 0 0);
  animation: leftToRight 3s forwards;
}

.display-sign {
  color: white;
  font-size: 5vmin;
  letter-spacing: 1vmin;
  margin-top: -1vmin;
}

.display-sign::first-letter {
text-transform: capitalize;
}

/* Not using but could be useful */
@keyframes circle {
  0% {
    clip-path: circle(0);
  }
  100% {
    clip-path: circle(105%);
  }
}

@keyframes leftToRight {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.prediction-text-fade-in {
  animation: fadeIn 2s;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .loading-zodiac-sign {
    margin-top:10vw;
  }
}

@media screen and (max-width: 1024px) {
  .prediction-button {
    width: 220px;
    height: 40px;
    font-size: 15px;
    bottom: -100px;
  }
  .loading-zodiac-sign {
    margin-top: 30vw;
  }
}

@media screen and (max-width: 600px) {

  .prediction-button {
    width: 195px;
    height: 40px;
    font-size: 15px;
    bottom: -42px;
  }
  .prediction-container {
    width: 90%;
    height: auto;
  }
  .spinner {
    margin: 155px auto;
  }
  .prediction-text {
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .loading-zodiac-sign {
    margin-top: 20vw;
  }
  .constellation {
    margin-bottom: 8vmin;
    margin-top: 5vmin;
    width: 40vmin;
    height: auto;
  }
  .display-sign {
    font-size: 10vmin;
  }
}
