.zodiac-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.zodiac-title {
  margin: 20px;
  font-size: 45px;
  color: white;
  z-index: 1;
}

.selector {
  font-size: 20px;
  margin: 1vmin;
  font-family: "Poppins", sans-serif;
  border-radius: 2px;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

.hide-button {
  display: none;
}


.mySwiper {
  width: 400px;
  height: auto;
}

.mySwiper .swiper-slide img {
  max-width: 75%;
  height: auto;
  margin-bottom: 20px ;
}

.swiper-pagination {
  bottom: -10px !important; 
  position: absolute !important; 
}


.swiper-pagination-bullet {
  border: 2px solid white !important; 
  background-color: transparent !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-button-next, .swiper-button-prev {
  color: white!important;
}

.swiper-slide-shadow-left, .swiper-slide-shadow-right {
  background: rgb(119, 119, 119) !important;
}

.swiper-scrollbar {
  bottom: -10px !important; 
}

@media screen and (max-width: 600px) {
  .selector {
    font-size: 15px;
    margin: 1vmin;
    font-family: "Poppins", sans-serif;
    border-radius: 2px;
  }
  .image-description {
    margin-bottom: 28px;
  }
  .form-title {
    font-size: 35px;
    margin: 30px;
  }
  .mySwiper {
    width: 250px;
    height: auto;
  }
}
