@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.video-background {
  position: absolute; /* Changed from fixed to absolute */
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index: -1; /* Set to -1 to ensure it stays behind other content */
  overflow: hidden;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 20s linear infinite;
}

.astroLogo {
  height: 67vmin;
  pointer-events: none;
}

main {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* main :hover {
  background-color: #78859e;
  transition: all ease-in-out 0.5s;
  border-color: whitesmoke
} */

.prediction-container {
  background-color: black;
  min-height: 50vh;
  width: 60%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
  /* transition: all ease-in-out 0.5s; */
}

/* .prediction-container :hover {
  background-color: #78859e;
  border-color: whitesmoke
} */

.prediction-text {
  background-color: transparent;
  font-size: calc(10px + 1vmin);
  color: white;
  transition: none;
}

@media screen and (max-width: 600px) {
  .astroLogo {
    width: 215px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
